# HEADING 
## Heading
### Heading

**BOLD**
*italic*

1.listing
2.

- listing
- listing

[Markdown Cheatsheet](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet)

[latex cheatsheet](http://ozark.hendrix.edu/~yorgey/precalc/docs/LaTeX-cheat-sheet.pdf)


\[
\begin{pmatrix}
4 & 5 & x + 2 \\
9 & 0 & \pi \\
6 + 5i & \sqrt{3} & -2
\end{pmatrix}
\]

In [ ]:
x = 1
y = 3

print (x+y)

# data type - int float str bool.  
specific data type define the storage space needed
python is dynamic type language as it will detect and assign the data type

List = [ ] e.g. [1,2,3,8 ,10,12]  
     list can be mixed of datatab

shift + tab or shift + tab x2  to get more documentation / information 

dict = is a collection of key value pairs
       {}
       instead of using list 
       e.g. mylist 1 = ['student 1', 'student 2']
            mylist 2 = [58,59]
            
        {'student 1': 58, 'student 2' : 59}
        
"""
this is multi line string line 1
this is multi line string line 2
"""

""" """ for multi line string

In [1]:
x = 1
type(x)

int

In [2]:
x = 1.0
type(x)

float

In [ ]:
list, dict, set,  tuple

In [3]:
mylist = [1,2,3,8 ,10,12]
type(mylist)

list

In [5]:
x = list(range(10))
type (x)
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
x_dict = {'student 1' :58, 'student 2': 59}
type(x_dict)

dict

In [1]:
x_list = [1,2,3,8,10,12]

In [15]:
x_list[0]

1

In [17]:
x_dict = {'student 1' :58, 'student 2': 59}
x_dict['student 2']

59

In [33]:
import numpy as np
test1 = np.array([4, 4, 3, 3, 2, 2, 1, 1])
print(np.sum(test1>2))

4

JSON format

In [3]:
x_list.reverse()

In [9]:
x_list.sort().reverse()

AttributeError: 'NoneType' object has no attribute 'reverse'

In [4]:
x_list

[12, 10, 8, 3, 2, 1]

In [17]:
after_work = x_list.sort()
x_list

[1, 2, 3, 8, 10, 12]

In [20]:
after_work = x_list.sort(reverse = True)
x_list

[12, 10, 8, 3, 2, 1]

In [6]:
mystr = "sometext"

In [7]:
type(mystr)

str

In [ ]:
str.format

In [21]:
myTuple = (2,4)

In [22]:
type(myTuple)

tuple

In [ ]:
myTuple.

In [23]:
x_dict = {'student 1' :58, 'student 2': 59}
type(x_dict)

dict

In [27]:
mySet = {'A',1,2,3,'A'}
mySet

{1, 2, 3, 'A'}

In [28]:
type(mySet)

set

In [29]:
list_myset = list(mySet)

In [30]:
list_myset

[3, 1, 2, 'A']

In [31]:
Convert_Dict = set(x_dict)

In [32]:
Convert_Dict

{'student 1', 'student 2'}

In [33]:
result1 = 1 + 2
result2 = 2 + 3

result1_sqr = result1 * result1
result2_sqr = result2 * result2

print(result1_sqr)
print(result2_sqr)

9
25

In [34]:
def custom_function(x,y):
    """ thsi function adds 2 numbers ad sqr the results"""
    return (x + y) ** 2

In [35]:
custom_function(1,2)

9

In [36]:
def custom_function(my_list):
    """ thsi function average the sum of the list
    """
    SUM = 0
    for itm in my_list:
        SUM = SUM + itm
    AVG = SUM / len(my_list)
    return AVG

In [39]:
myList = [1,2,3,4,5]
print(custom_function(myList))

3.0

In [1]:
! ls

$RECYCLE.BIN
03-ECO House small.pdf
15172337qwn5.jpg
2018 2hr CPD Sales and Property Management Pre-Reading.v1.4.pdf
2018 9 Frederick J.pdf
201805 Followup expo
20180823 New tenancy agreement pg1-2.pdf
A4 single.indd
A4 single.pdf
A4 single1.pdf
Activities .docx
Altessa _ Gordon.pdf
Altrove @ Schofields location.pptx
CDS_Account_Form_2017.pdf
FILE LINK (Carmel).docx
First File.ipynb
MY SIGNATURE.jpg
New Words.docx
PRP
Prospect Owner Sales
Reduce File Size(1).qfilter
Referral Partner Agreement.xlsx
Scan 1.psd
Scan 1.tiff
Scan 2.tiff
Scan.tiff
Scan2018-05-28_122559.pdf
Screenshot 2018-09-26 20.04.35.png
Sharefolder backup
ShippingLabel.pdf
Study-Tour-Itinerary-26-11-17.pdf
Summer Elite 20181009 1.pdf
Summer Elite 20181009 2.pdf
Summer Elite 20181009.pdf
Thumbs.db
UNTITLED_9.Pdf.pdf
Untitled-1.indd
Workbook1.xlsx
Workbook3.xlsx
apartment north shore.docx
apartment north shore.pdf
brown-teddy-bear-on-brown-wooden-bench-outside-2.jpg
brown-teddy3048.jpg
chartoftheday_12386_the_most_common_new_year_s_resolutions_for_2018_n.jpg
color oo copy.key
desktop.ini
elara.jpg
elaramaster.jpg
letter accceptance.pdf
logo black large(1).jpg
map riverstone precinct .psd
power.txt
study tour english.indd
untitled folder
untitled folder 2
workflow.xlsx
~$Sale Advice & Tax Invoice & Receipt.xlsx
~$Sale advice (Resale).xlsx
免费注册 _ e-Property Platform.pdf

# 8th December 2018

In [3]:
dic = {'a' : 1.23, 'b' : 4.567}
for i in dic:
    print(i,dic[i])
    print("{0:s} = {1}".format(i,dic[i]))

a 1.23
a = 1.23
b 4.567
b = 4.567

## below 3 ways create a string data type

In [4]:
mystr = ""
mystr = "this is a string"
"".format()

''

In [9]:
print("Sammy ate {0:.2f} percent of a {1:s} in {2} days".format(75,"pizza",2))

Sammy ate 75.00 percent of a pizza in 2 days

In [11]:
print("Sammy has {0:6}red {1:16} box".format(5,"balloons"))

Sammy has      5red balloons         box

# 11 DEC 2018

In [29]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def say_hi(self):
        print('Hello, my name is', self.name, 'MY AGE IS', self.age)
    
    def __del__(self):
        print ('deleted')

## class is a collection of functions
## class define an attribute and get an action

### contructor for the class  __init__  and can set some default for variable (name)

### destructor  --> def __del__()

In [30]:
minh = Person('Minh', 20)

deleted

In [31]:
type(minh)

__main__.Person

In [32]:
minh.say_hi()

Hello, my name is Minh MY AGE IS 20

In [33]:
del(minh)

deleted